*{
  box-sizing: border-box;
}


a{
  cursor: pointer;  
  text-decoration: none;
  text-transform: uppercase;
  
}
a:hover {
    background-color: #555;
  }
  
  a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: #ccc;
  }




